*{
	padding: 0px;
	margin: 0px;
}
body{
font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Source Sans Pro', sans-serif;
}
a,a:hover{
	text-decoration: none;
}
/***************************************************
*****  Reen Home Page Coding Start
*************************************************/


/*      Header  Section  */
.header-section{width: 100%;
}
.top-header{
    position: relative;
	width: 100%;
	padding: 10px 0px;
    background: #f5f7fa;}
.top-header .info-inner{
	display: block;
	margin: 0px;

}
.top-header .info-inner li {
	margin: 4px; 
	list-style: none;
	display: inline-block;
}
.top-header .info-inner li a{
	font-size: 14px;
	font-width:500;
	color: #506a85;
	margin-right: 15px;
}
.top-header .info-inner li a:hover{
	text-decoration: none;
	
}

.top-header .info-inner li a .fa{
	margin-right: 10px;
}
.top-header .social-icon {
	font-size: 14px;
	display: block;
	text-align: right;
	margin: 10px;
}

.top-header .social-icon  li  {
	display: inline-flex;
	list-style: none;
	margin: 0 7px;
	font-size: 14px;
	color: #506a85;
	}
.top-header .social-icon a  {

	font-size: 15px;
	color: #506a85;
	margin: 0px 0px 0px 19px;
	}
.header-section  .navbar-wrapper{
    width: 100%;
    position: relative;
    background: rgb(0,0,0,.5);
    z-index: 15;
}
.isStuck{
    left: 0px;
    width: 100%;
    background: rgba(255,255,255,.5) !important; 

}
.header-section .bg-light{
	background-color: #fff !important;
}
.header-section .navbar-expand-lg .nav-link{
 margin-left: 15px;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 20px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #506a85;
    font-size: 14px;
    padding: 0px 25px;
   margin: 0px 15px;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #506a85;
	font-weight: 400;
}
.header-section .rightsearch .fa{
	color: #506a85;

}
.header-section .navbar-light .navbar-nav .nav-link:focus, .header-section .navbar-light .navbar-nav .nav-link:hover {
    color: #00bc9c;
}
/*****************************************
**** Slider section start****
*******************************************/
.slidet{
	width: 100%;
}
.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
 .slider .carousel-caption .righ {
    position: right;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
}
 .slider .carousel-caption .righ p{
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 27px;
    color: #8697a8;
}
.slider .carousel-caption .righ h2{
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 64px;
    text-align: right;
}


.slider .carousel-caption h2 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 74px;
}
.slider .carousel-caption p{
	font-size: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 27px;
    color: #8697a8;
    align: right;
}

.slider .carousel-caption .bac{
    background-color: #506a85;
    color: #fff;
     font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 74px;
    
    width: 60%;
    height: inherit;
    border-radius: 0px solid;
}

.slider .carousel-caption .r{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 27px;
    color: #506a85;
   
}

.slider .carousel-caption .btn-info {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 80px;
    margin-top: 30px;
    border-radius: 3px;
    border: 1px solid #00bc9c;
    background: #00bc9c;
    color: #fff;
    font-weight: 600;
    transition: 1s;
}
.slider .carousel-caption .btn-info:focus,.slider .carousel-caption .btn-info:hover{
	border: 1px solid #00bc9c;
    background: transparent;
    color: #fff;
}





/**************************************
******** slider section Start
****************************************/

/**************************************
******** Who we are section Start
****************************************/
.who-we-are {
    width: 100%;
    padding: 110px 170px;
}
.who-we-are .title{
	width: 100%;
	text-align: center;
}
.who-we-are .title h2{
    font-size: 57px;
    line-height: 74px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #506a85;
    margin-bottom: 20px;
}
.who-we-are .title p{
	font-size: 16px;
    line-height: 27px;
    font-weight:400;
    color: #8697a8;
}
.who-we-are .media{
	margin-top: 40px;
}

.media-body h5{
	font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 28px;
    color: #506a85;

}
 .media .media-body p{
	font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #a3b1bf;

}


/**************************************
******** Who we are section End
****************************************/
/***************************************
*******  work section start********
*****************************************/
.work{
    width: 100%;
    padding: 80px 0px;
    background: #f2f5f7;
}
.work .title{
    width: 100%;
    text-align: center;
    
}
.work .title h2{
    font-size: 57px;
    line-height: 74px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #506a85;
    margin-bottom: 10px;
}
.work .title p{
    font-size: 16px;
    line-height: 27px;
    font-weight:400;
    color: #8697a8;
    padding-bottom: 60px;
}

.work .card {
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px !important;
}
.card-img, .card-img-top {
    border-radius: 0px !important;
}
.work .card .card-body .card-title{
 font-size: 16px;
 font-weight: 600;
 color: #506a85;
 margin-bottom: 10px;

}
.work .card .card-body .card-text {
 font-size: 13px;
 font-weight: 500;
 color: #73879c;
 margin-bottom: 5px;
}
.work .owl-carousel{
 margin-top: 50px;
}

.work .owl-theme .owl-dots .owl-dot.active span, .work .owl-theme .owl-dots .owl-dot:hover span {
    background: #00bc9c;
}
.work .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}


/***************************************
*******  work section End********
*****************************************/



/***************************************
*******  Counter  Start ********
*****************************************/
.counter{
    width: 100%;
    padding: 50px;
    text-align: center;
    border:2px solid #08c;
}
.counter .demo{
    font-size: 60px;
    color: #08c !important;
}
.counter .you{
    font-size: 60px;
    color: #08c !important;
}

.counter .btc{
    font-size: 60px;
    color: #08c !important;
}

.counter .fa{
    font-size: 80px;
    color: #08c;
   
}










/***************************************
***** Counter  section End ***
*****************************************/ 











/***************************************
***** get in touch  section start ***
*****************************************/ 
.get-in-touch{
    width: 100%;
    padding: 80px 0px;
}
.get-in-touch .title{
    width: 100%;
    text-align: center;
    
}
.get-in-touch .title h2{
    font-size: 52px;
    line-height: 74px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #506a85;
    margin-bottom: 10px;
}
.get-in-touch .title p{
    font-size: 16px;
    line-height: 27px;
    font-weight:400;
    color: #8697a8;
    padding-bottom: 60px;
}


.get-in-touch .title .btn-info {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -70px !important;

    padding: 8px 44px;
    border-radius: 3px;
    border: 1px solid #00bc9c;
    background: #00bc9c;
    color: #fff;
    font-weight: 600;
    transition: 1s;
}
.get-in-touch .title .btn-info:hover{
    border: 1px solid #00bc9c;
    background: #00bc9c;
    color: #fff;
}


/***************************************
***** get in touch  section end ***
*****************************************/

/******************************************
******  footer Section Start**
*****************************************/
.footer-section{
    width: 100%;
    padding: 80px 0px;
    background: #2f4052;
    color: #a3b1bf;
}
.footer-section .widget{
    width: 100%;
   
}
.footer-section .widget .logo {
    width: 50%;
   margin-bottom: 26px;
}
.footer-section .widget h4{
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
   margin-bottom: 15px;
}
.footer-section .widget p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #a3b1bf;
   margin: 0px 0px 20px 0px;
}
.footer-section .widget .link{
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #a3b1bf;
}
.footer-section .widget .link:hover{
    text-decoration: none;
    color: #00bc9c;
}
.footer-section .widget .link .fa{
    margin-left: 10px;
}


.footer-section .widget .no-mar {
    padding-right: 5px;
    padding-left:  5px;
}
.footer-section .widget .card{
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0px;
    margin: 0px 10px;
}
.footer-section .widget .card-group{
    margin: 0px 0px 10px;
}
.footer-section .widget .card-img-top{
    border-radius: 0px;
}


.footer-section .widget .form-inline .mx-sm-3{
    margin-left: 0px !important;
} 
.footer-section .widget .form-inline .form-control {
    
    padding: 19px 4px;
    width: 100%;
    background: #4e5c6c;
    border: 1px solid #4e5c6c;
    border-radius: 2px;
}
.footer-section .widget .form-inline .btn-primary {
       right: -3%;
    bottom: 31%;
    color: #fff;
    background-color: #00bc9c;
    border-color: #00bc9c;
    position: absolute;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 700;
}
.footer-section .widget .form-inline .btn-primary:hover{
     color: #4e5c6c;
    background-color:#fff;
    border: 1px solid #00bc9c;
    transition: 1s;
}

/******************************************
******  footer Section End**
*****************************************/
 .footer-bottom{
    width: 100%;
    background: #283645;}
 .footer-bottom .copy h6{
    font-size: 15px;
    color: #6d7a88;
    margin-top: 10px;
}


.footer-bottom .bg-light {
    background: transparent !important;
    float: right;
    position: relative;

}
.footer-bottom .bg-light span {
    color: #8e9cab;
    margin-right: 8px;
}
 .footer-bottom .bg-light .navbar-brand{
    font-size: 13px;
    font-weight: 600;
    color: #8e9cab !important;
    text-transform: capitalize;
    padding: 0px;
   margin: 0px 8px 7px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #8e9cab !important;
    text-transform: capitalize;
   
}
